/.metadata/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/JavaApplication3/nbproject/private/
/Calango/nbproject/private/
/Calango/build/
/Projeto_02_Java/Vida_de_Designer/nbproject/private/
/Projeto_02_Java/Vida_de_Designer/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/Treino/nbproject/private/
/Treino/build/
/Motoca/nbproject/private/
/Motoca/build/
/Projeto_03_Cofre/nbproject/private/
/Lapiseira/nbproject/private/
/Lapiseira/build/
/Tamagochi/nbproject/private/
/Tamagochi/build/
/Testes/nbproject/private/
/Projeto_4_Arraylist/nbproject/private/
/JavaApplication14/nbproject/private/
/Projeto_04_Arraylist/JavaApplication15/nbproject/private/
/Projeto_04_Arraylist/Contato/nbproject/private/
/Projeto_04_Arraylist/PulaPula/nbproject/private/
/Projeto_04_Arraylist/PulaPula/build/