/.metadata/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/JavaApplication3/nbproject/private/
/Calango/nbproject/private/
/Calango/build/
/Projeto_02_Java/Vida_de_Designer/nbproject/private/
/Projeto_02_Java/Vida_de_Designer/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/Treino/nbproject/private/
/Treino/build/
/Motoca/nbproject/private/
/Motoca/build/
/Projeto_03_Cofre/nbproject/private/
/Lapiseira/nbproject/private/
/Lapiseira/build/
/Tamagochi/nbproject/private/
/Tamagochi/build/
/Testes/nbproject/private/
/Projeto_4_Arraylist/nbproject/private/
/JavaApplication14/nbproject/private/
/Projeto_04_Arraylist/JavaApplication15/nbproject/private/
/Projeto_04_Arraylist/Contato/nbproject/private/
/Projeto_04_Arraylist/PulaPula/nbproject/private/
/Projeto_04_Arraylist/PulaPula/build/
/Projeto_04_Arraylist/Telefone/nbproject/private/
/JavaApplication19/nbproject/private/
/Telefone/nbproject/private/
/Contato/nbproject/private/
/Cinema/nbproject/private/
/Contatoss/nbproject/private/
/Contato/build/
/Contatoss/build/
/Exercicio/nbproject/private/
/JunkFood/nbproject/private/
/Agencia/nbproject/private/
/Agencia/build/
/ufc/nbproject/private/
/ufc/build/
/Topic/nbproject/private/
/Topic/build/
/aula/nbproject/private/
/Agenda/nbproject/private/
/Agenda/build/
/Agendaa/nbproject/private/
/Agendaa/build/
/Animais/nbproject/private/