/.metadata/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/JavaApplication3/nbproject/private/
/Calango/nbproject/private/
/Calango/build/
/Projeto_02_Java/Vida_de_Designer/nbproject/private/
/Projeto_02_Java/Vida_de_Designer/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/